.nav-container{
    display: flex;
    justify-content: start;
    align-content: space-between;
    gap: 20px;
}

.nav-link{
    background-color: transparent;
    color: white;
    border-style: outset;
    cursor:pointer;
    height: 50px;
    width: 100px;
    font-size: large;
}

.nav-link:hover{
    border-style: inset;
}