.default-button{
    border-style: inset;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    cursor: pointer;
}
.default-button:hover{
    opacity: 0.8;
}

.button-icon{
    display: flex;
    align-content: center;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 24px;
}