.login-container{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    height: 87vh;
}

.form-panel{
    border-style: ridge;
    border-radius: 10px;
    border-color: gray;
    background-color: #5C4DB6;
    padding: 100px 200px 100px 200px;
}

.form-panel h2{
    text-align: center;
    color: white;
    margin-top: 0;
}

.form-panel a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.form-panel .button-group{
    margin-top: 20px;
}