.nav-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.nav-link{
    background-color: transparent;
    color: white;
    border-style: outset;
    cursor:pointer;
    height: 30px;
    width: 70px;
    font-size:medium;
}

.nav-link:hover{
    border-style: inset;
}

.logout-container{
    display: flex;
    padding-right: 10px;
    gap: 15px;
}