body{
  background-color: darkslateblue;
  padding: 10px 10px 10px 10px;
}

.container{
  background-color:#684F9C;
  color:azure;
  height: 87vh;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.container .pageTitle h1{
  margin-top: 0;
  margin-bottom: 0;
}

a{
  color:white;
}